*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56%;
  }
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 30em) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 23.75em) {
  html {
    font-size: 38%;
  }
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  color: #7540f4;
  overflow-x: hidden;
}

.main-1 {
  background-image: url("../img/bg-1.jpg");
  height: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media only screen and (max-width: 62em) {
  .main-1 {
    background-image: none;
  }
}

.main-2 {
  background-image: url("../img/bg-2.jpg");
  height: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 62em) {
  .main-2 {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
  }
}

@media only screen and (max-width: 62em) {
  .home-page,
.about-page {
    background-image: url("../img/bg-4.jpg");
    height: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}

@media only screen and (max-width: 62em) {
  .home-page {
    background-image: url("../img/bg-4.jpg");
    height: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-position: top center;
  }
}

@media only screen and (max-width: 62em) {
  .about-page {
    background-image: url("../img/bg-4.jpg");
    height: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.custom-container {
  max-width: 140rem;
  margin: 0 auto;
}
@media only screen and (max-width: 90.625em) {
  .custom-container {
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 23.75em) {
  .custom-container {
    padding: 0 2rem;
  }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

h1.heading {
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8.5rem;
  letter-spacing: 0.02em;
  color: #fff;
  text-transform: uppercase;
}
h1.heading span {
  text-transform: uppercase;
  display: block;
}
@media only screen and (max-width: 35.9375em) {
  h1.heading {
    font-size: 5.8rem;
    line-height: 6.8rem;
  }
}
@media only screen and (max-width: 23.75em) {
  h1.heading {
    font-size: 42px;
    line-height: 48px;
  }
}

.laptop-land-show h1 span {
  display: inline;
}

h2.heading {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.6rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
@media only screen and (max-width: 30em) {
  h2.heading {
    font-size: 2.8rem;
    line-height: 3.6rem;
    letter-spacing: 0.02em;
  }
}
@media only screen and (max-width: 23.75em) {
  h2.heading {
    font-size: 28px;
    line-height: 36px;
  }
}

.text {
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  opacity: 0.5;
  font-family: "Inter", sans-serif;
  line-height: 170%;
  letter-spacing: 0.02em;
}
@media only screen and (max-width: 30em) {
  .text {
    line-height: 150%;
    letter-spacing: 0.02em;
  }
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover {
  text-decoration: none;
}

.white {
  color: #fff;
}

.laptop-land-show {
  display: none !important;
}
@media only screen and (max-width: 75em) {
  .laptop-land-show {
    display: block !important;
  }
}

@media only screen and (max-width: 75em) {
  .laptop-land-hide {
    display: none;
  }
}

.laptop-port-show {
  display: none;
}
@media only screen and (max-width: 64em) {
  .laptop-port-show {
    display: block;
  }
}

@media only screen and (max-width: 64em) {
  .laptop-port-hide {
    display: none;
  }
}

.tablet-land-show {
  display: none !important;
}
@media only screen and (max-width: 62em) {
  .tablet-land-show {
    display: block !important;
  }
}

@media only screen and (max-width: 62em) {
  .tablet-land-hide {
    display: none !important;
  }
}

.tablet-port-show {
  display: none !important;
}
@media only screen and (max-width: 48em) {
  .tablet-port-show {
    display: block !important;
  }
}

@media only screen and (max-width: 48em) {
  .tablet-port-hide {
    display: none !important;
  }
}

@media only screen and (max-width: 35.9375em) {
  .mbl-land-hide {
    display: none;
  }
}

.mbl-land-show {
  display: none;
}
@media only screen and (max-width: 35.9375em) {
  .mbl-land-show {
    display: block;
  }
}

.mbl-small-show {
  display: none;
}
@media only screen and (max-width: 23.75em) {
  .mbl-small-show {
    display: block;
  }
}

@media only screen and (max-width: 23.75em) {
  .mbl-small-hide {
    display: none;
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.m--1 {
  margin: 0.5rem !important;
}

.m-1 {
  margin: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.m-4 {
  margin: 4rem !important;
}

.m-5 {
  margin: 5rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.mt-9 {
  margin-top: 9rem !important;
}

.mt-10 {
  margin-top: 10rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.mb-7 {
  margin-bottom: 7rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.mb-9 {
  margin-bottom: 9rem !important;
}

.mb-10 {
  margin-bottom: 10rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.mr-6 {
  margin-right: 6rem !important;
}

.mr-7 {
  margin-right: 7rem !important;
}

.mr-8 {
  margin-right: 8rem !important;
}

.mr-9 {
  margin-right: 9rem !important;
}

.mr-10 {
  margin-right: 10rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.p-2 {
  padding: 2rem !important;
}

.p-3 {
  padding: 3rem !important;
}

.p-4 {
  padding: 4rem !important;
}

.p-5 {
  padding: 5rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.pt-7 {
  padding-top: 7rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.pt-9 {
  padding-top: 9rem !important;
}

.pt-10 {
  padding-top: 10rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

.pb-7 {
  padding-bottom: 7rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

.pb-9 {
  padding-bottom: 9rem !important;
}

.pb-10 {
  padding-bottom: 10rem !important;
}

.ch-1 {
  max-width: 1ch;
}

.ch-2 {
  max-width: 2ch;
}

.ch-3 {
  max-width: 3ch;
}

.ch-4 {
  max-width: 4ch;
}

.ch-5 {
  max-width: 5ch;
}

.ch-6 {
  max-width: 6ch;
}

.ch-7 {
  max-width: 7ch;
}

.ch-8 {
  max-width: 8ch;
}

.ch-9 {
  max-width: 9ch;
}

.ch-10 {
  max-width: 10ch;
}

.ch-11 {
  max-width: 11ch;
}

.ch-12 {
  max-width: 12ch;
}

.ch-13 {
  max-width: 13ch;
}

.ch-14 {
  max-width: 14ch;
}

.ch-15 {
  max-width: 15ch;
}

.ch-16 {
  max-width: 16ch;
}

.ch-17 {
  max-width: 17ch;
}

.ch-18 {
  max-width: 18ch;
}

.ch-19 {
  max-width: 19ch;
}

.ch-20 {
  max-width: 20ch;
}

.ch-21 {
  max-width: 21ch;
}

.ch-22 {
  max-width: 22ch;
}

.ch-23 {
  max-width: 23ch;
}

.ch-24 {
  max-width: 24ch;
}

.ch-25 {
  max-width: 25ch;
}

.ch-26 {
  max-width: 26ch;
}

.ch-27 {
  max-width: 27ch;
}

.ch-28 {
  max-width: 28ch;
}

.ch-29 {
  max-width: 29ch;
}

.ch-30 {
  max-width: 30ch;
}

.ch-31 {
  max-width: 31ch;
}

.ch-32 {
  max-width: 32ch;
}

.ch-33 {
  max-width: 33ch;
}

.ch-34 {
  max-width: 34ch;
}

.ch-35 {
  max-width: 35ch;
}

.ch-36 {
  max-width: 36ch;
}

.ch-37 {
  max-width: 37ch;
}

.ch-38 {
  max-width: 38ch;
}

.ch-39 {
  max-width: 39ch;
}

.ch-40 {
  max-width: 40ch;
}

.ch-41 {
  max-width: 41ch;
}

.ch-42 {
  max-width: 42ch;
}

.ch-43 {
  max-width: 43ch;
}

.ch-44 {
  max-width: 44ch;
}

.ch-45 {
  max-width: 45ch;
}

.ch-46 {
  max-width: 46ch;
}

.ch-47 {
  max-width: 47ch;
}

.ch-48 {
  max-width: 48ch;
}

.ch-49 {
  max-width: 49ch;
}

.ch-50 {
  max-width: 50ch;
}

.ch-51 {
  max-width: 51ch;
}

.ch-52 {
  max-width: 52ch;
}

.ch-53 {
  max-width: 53ch;
}

.ch-54 {
  max-width: 54ch;
}

.ch-55 {
  max-width: 55ch;
}

.ch-56 {
  max-width: 56ch;
}

.ch-57 {
  max-width: 57ch;
}

.ch-58 {
  max-width: 58ch;
}

.ch-59 {
  max-width: 59ch;
}

.ch-60 {
  max-width: 60ch;
}

.ch-61 {
  max-width: 61ch;
}

.ch-62 {
  max-width: 62ch;
}

.ch-63 {
  max-width: 63ch;
}

.ch-64 {
  max-width: 64ch;
}

.ch-65 {
  max-width: 65ch;
}

.ch-66 {
  max-width: 66ch;
}

.ch-67 {
  max-width: 67ch;
}

.ch-68 {
  max-width: 68ch;
}

.ch-69 {
  max-width: 69ch;
}

.ch-70 {
  max-width: 70ch;
}

.ch-71 {
  max-width: 71ch;
}

.ch-72 {
  max-width: 72ch;
}

.ch-73 {
  max-width: 73ch;
}

.ch-74 {
  max-width: 74ch;
}

.ch-75 {
  max-width: 75ch;
}

.ch-76 {
  max-width: 76ch;
}

.ch-77 {
  max-width: 77ch;
}

.ch-78 {
  max-width: 78ch;
}

.ch-79 {
  max-width: 79ch;
}

.ch-80 {
  max-width: 80ch;
}

.ch-81 {
  max-width: 81ch;
}

.ch-82 {
  max-width: 82ch;
}

.ch-83 {
  max-width: 83ch;
}

.ch-84 {
  max-width: 84ch;
}

.ch-85 {
  max-width: 85ch;
}

.ch-86 {
  max-width: 86ch;
}

.ch-87 {
  max-width: 87ch;
}

.ch-88 {
  max-width: 88ch;
}

.ch-89 {
  max-width: 89ch;
}

.ch-90 {
  max-width: 90ch;
}

.ch-91 {
  max-width: 91ch;
}

.ch-92 {
  max-width: 92ch;
}

.ch-93 {
  max-width: 93ch;
}

.ch-94 {
  max-width: 94ch;
}

.ch-95 {
  max-width: 95ch;
}

.ch-96 {
  max-width: 96ch;
}

.ch-97 {
  max-width: 97ch;
}

.ch-98 {
  max-width: 98ch;
}

.ch-99 {
  max-width: 99ch;
}

.ch-100 {
  max-width: 100ch;
}

.btn {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #7540f4;
  padding: 1.5rem 3.5rem;
  display: inline-block;
  text-align: center;
}
@media only screen and (max-width: 23.75em) {
  .btn {
    font-size: 1.2rem;
  }
}

.btn-card {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.btn-card .icon {
  height: 2rem;
  width: 2.5rem;
  fill: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 4rem 10rem;
  align-items: center;
}
@media only screen and (max-width: 35.9375em) {
  .nav {
    padding: 4rem 4rem;
  }
}
.nav__logo {
  width: 13.7rem;
  height: 2.9rem;
}
@media only screen and (max-width: 35.9375em) {
  .nav__logo {
    width: 10.6rem;
    height: 2.3rem;
  }
}
.nav__logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 4rem;
}
@media only screen and (max-width: 48em) {
  .nav__list {
    display: none;
  }
}
.nav__link {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.6;
  transition: all 0.3s;
}
.nav__link:hover {
  opacity: 1;
}
.nav__buttons {
  display: flex;
  align-items: center;
  gap: 0 4rem;
}
@media only screen and (max-width: 48em) {
  .nav__buttons {
    display: none;
  }
}
.nav__login, .nav__signup {
  color: #fff;
  font-weight: 400;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 0.6;
  transition: all 0.3s;
  text-transform: uppercase;
  cursor: pointer;
}
.nav__login:hover, .nav__signup:hover {
  opacity: 1;
}
.nav__signup {
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0.8rem 2rem;
}

.bars {
  height: 2.5rem;
  width: 2.5rem;
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 48em) {
  .bars {
    display: block;
  }
}
.bars .icon {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: all 0.3s;
}
.bars .icon:hover {
  opacity: 1;
}

.mbl-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../img/bg-1.jpg");
  height: 100vh;
  width: 100%;
  z-index: 2;
  transform: translateX(100%);
  transition: all 0.5s;
}
@media only screen and (max-width: 48em) {
  .mbl-nav {
    display: block;
  }
}
.mbl-nav .nav {
  flex-direction: column;
  gap: 6.5rem 0;
  justify-content: start;
  align-items: start;
}
.mbl-nav__logo {
  width: 13.7rem;
  height: 2.9rem;
}
@media only screen and (max-width: 35.9375em) {
  .mbl-nav__logo {
    width: 10rem;
    height: 2.3rem;
  }
}
.mbl-nav__logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.mbl-nav .nav__list,
.mbl-nav .nav__buttons {
  display: flex;
  flex-direction: column;
  gap: 3rem 0;
  align-items: start;
}
.mbl-nav .nav__list {
  margin-top: 6.4rem;
}
.mbl-nav .nav__buttons {
  margin-top: 8rem;
}
.mbl-nav .nav__link {
  font-size: 2rem;
  transition: all 0.3s;
  display: inline-block;
  padding: 0.5rem;
}
.mbl-nav .nav__link:hover {
  transform: scale(1.2) translateX(1.5rem);
}
.mbl-nav .nav__login {
  padding: 0.5rem;
}
.mbl-nav .nav__login,
.mbl-nav .nav__signup {
  display: inline-block;
}
.mbl-nav .nav__login:hover,
.mbl-nav .nav__signup:hover {
  transform: scale(1.2) translateX(1.5rem);
}
.mbl-nav .btn-close {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: 4rem;
  right: 5rem;
  background-color: transparent;
}
.mbl-nav .btn-close .icon {
  height: 100%;
  width: 100%;
  object-fit: cover;
  fill: #fff;
  opacity: 0.6;
}
.mbl-nav .btn-close .icon:hover {
  opacity: 1;
}

.show-nav .mbl-nav {
  transform: translateX(0);
}

.header {
  height: auto;
  width: 100%;
  margin-top: 6.7rem;
}
.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 5rem;
}
@media only screen and (max-width: 62em) {
  .header__container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.header h1 span {
  color: #c2a2fd;
}
.header__image {
  position: relative;
}
.header__img {
  transform: translateY(-12rem);
  height: 63.5rem;
  width: 55rem;
}
@media only screen and (max-width: 62em) {
  .header__img {
    transform: translateY(0);
    margin: 0 auto;
  }
}
@media only screen and (max-width: 35.9375em) {
  .header__img {
    height: 45.5rem;
    width: 42rem;
  }
}
@media only screen and (max-width: 30em) {
  .header__img {
    height: 45.5rem;
    width: 38rem;
  }
}
.header__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.price {
  padding: 1.2rem;
  background-color: #7540f4;
  display: inline-block;
  position: absolute;
  bottom: 16rem;
  left: 0;
  clip-path: polygon(82% 0, 100% 22%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);
}
@media only screen and (max-width: 35.9375em) {
  .price {
    bottom: 2rem;
    left: 5rem;
  }
}
.price__sign {
  margin-bottom: 1.4rem;
}
.price__sign .icon {
  height: 2.4rem;
  width: 2.4rem;
}
.price__title {
  margin-bottom: 1.4rem;
  color: #fff;
  font-size: 1.2rem;
}
.price__price {
  margin-bottom: 2.5rem;
  color: #fff;
  font-size: 3.2rem;
}
.price__price span {
  font-size: 1.8rem;
}
.price__btn {
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem 2rem;
}

.join {
  background-color: #fff;
  padding: 1.2rem;
  display: inline-block;
  position: absolute;
  bottom: 20rem;
  right: 0;
}
@media only screen and (max-width: 35.9375em) {
  .join {
    bottom: 6rem;
  }
}
.join__title {
  font-size: 1.2rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.join__title span {
  font-size: 1.4rem;
  font-weight: 400;
}
.join__images {
  display: flex;
  align-items: center;
}
.join__circle {
  margin-right: -1rem;
}
.join .btn-circle {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  background-color: #7540f4;
}
.join .btn-circle .icon {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(0.5);
  fill: #fff;
}
.join__img {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
}
.join__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 23.75em) {
  .about h1 {
    font-size: 36px;
  }
}
.about__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}
@media only screen and (max-width: 62em) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 35.9375em) {
  .about__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.about__item {
  background-color: #7540f4;
  padding: 2rem;
  position: relative;
  width: 100%;
  height: 345px;
}
@media only screen and (max-width: 62em) {
  .about__item {
    height: 50.5rem;
  }
}
@media only screen and (max-width: 35.9375em) {
  .about__item {
    height: 56.5rem;
  }
}
@media only screen and (max-width: 23.75em) {
  .about__item {
    height: 60.5rem;
  }
}
.about__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.about__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-fit: cover;
  object-position: top center;
}
.about .age {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  background: #fff;
  padding: 1rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}
@media only screen and (max-width: 62em) {
  .about .age {
    padding: 1.5rem;
  }
}
.about .age__start {
  margin-left: 1rem;
}
.experience-section {
  padding: 12rem 0;
}
.experience-section h2 {
  width: 70%;
  margin: 0 auto;
}
@media only screen and (max-width: 62em) {
  .experience-section h2 {
    width: 100%;
  }
}

.experience {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  gap: 5rem;
}
@media only screen and (max-width: 62em) {
  .experience {
    grid-template-columns: max-content;
    justify-content: center;
  }
}
.experience__cards {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(40px);
  padding: 2rem 2rem 2rem 10rem;
  display: inline-block;
  position: relative;
  clip-path: polygon(12% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 12%);
}
@media only screen and (max-width: 62em) {
  .experience__cards {
    padding: 2rem 2rem 8rem 2rem;
  }
}
.experience__cards h4 {
  font-size: 3.6rem;
  transform: rotate(270deg);
  color: #fff;
  position: absolute;
  bottom: 9rem;
  left: -4rem;
}
@media only screen and (max-width: 62em) {
  .experience__cards h4 {
    transform: rotate(0);
    bottom: 1rem;
    left: 2rem;
  }
}
@media only screen and (max-width: 23.75em) {
  .experience__cards h4 {
    font-size: 28px;
    line-height: 32px;
  }
}
.experience__cards h4 span {
  color: #c2a2fd;
  font-size: 4rem;
}
.experience__card {
  position: relative;
  overflow: hidden;
}
.experience__images {
  display: flex;
  height: 43rem;
  width: 43rem;
}
@media only screen and (max-width: 35.9375em) {
  .experience__images {
    width: 38.7rem;
    height: 36.7rem;
  }
}
@media only screen and (max-width: 23.75em) {
  .experience__images {
    width: 41.7rem;
    height: 40.7rem;
  }
}
.experience__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.experience__img--1 {
  background: url("../img/experience-img-2.png") no-repeat;
  background-position: top left;
  background-size: cover;
}
.experience__img--2 {
  position: absolute;
  background: url("../img/experience-img-1.png") no-repeat;
  width: 50%;
  background-position: top center;
  background-size: cover;
}
.experience__img--3 {
  background: url("../img/experience-img-4.png") no-repeat;
  background-position: top right;
  background-size: cover;
}
.experience__img--4 {
  position: absolute;
  background: url("../img/experience-img-3.png") no-repeat;
  width: 50%;
  background-position: top center;
  background-size: cover;
}

.slider-1 {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 99;
}
.slider-1 .input-1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  outline: none;
  background: none;
  -webkit-appearance: none;
}
.slider-1 .input-1::-webkit-slider-thumb {
  height: 100%;
  width: 3px;
  background: none;
  -webkit-appearance: none;
  cursor: col-resize;
}
.slider-1 .drag-line-1 {
  width: 3px;
  height: 100%;
  position: absolute;
  left: 49.85%;
  pointer-events: none;
}
.slider-1 .drag-line-1::before,
.slider-1 .drag-line-1::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 222px;
  background: #fff;
}
.slider-1 .drag-line-1::before {
  top: 0;
}
.slider-1 .drag-line-1::after {
  bottom: 0;
}
.slider-1 .drag-line-1 span {
  height: 42px;
  width: 42px;
  border: 3px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.slider-1 .drag-line-1 span::before,
.slider-1 .drag-line-1 span::after {
  position: absolute;
  content: "";
  top: 50%;
  border: 10px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.slider-1 .drag-line-1 span::before {
  left: 40%;
  border-left-color: #fff;
}
.slider-1 .drag-line-1 span::after {
  left: 60%;
  border-top-color: #fff;
}

.slider-2 {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 99;
}
.slider-2 .input-2 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  outline: none;
  background: none;
  -webkit-appearance: none;
}
.slider-2 .input-2::-webkit-slider-thumb {
  height: 100%;
  width: 3px;
  background: none;
  -webkit-appearance: none;
  cursor: col-resize;
}
.slider-2 .drag-line-2 {
  width: 3px;
  height: 100%;
  position: absolute;
  left: 49.85%;
  pointer-events: none;
}
.slider-2 .drag-line-2::before,
.slider-2 .drag-line-2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 222px;
  background: #fff;
}
.slider-2 .drag-line-2::before {
  top: 0;
}
.slider-2 .drag-line-2::after {
  bottom: 0;
}
.slider-2 .drag-line-2 span {
  height: 42px;
  width: 42px;
  border: 3px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.slider-2 .drag-line-2 span::before,
.slider-2 .drag-line-2 span::after {
  position: absolute;
  content: "";
  top: 50%;
  border: 10px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.slider-2 .drag-line-2 span::before {
  left: 40%;
  border-left-color: #fff;
}
.slider-2 .drag-line-2 span::after {
  left: 60%;
  border-top-color: #fff;
}

.challenge-section {
  padding: 10rem 0;
  position: relative;
}

.challenge {
  display: grid;
  grid-template-columns: 72rem 1fr;
  gap: 5rem;
}
@media only screen and (max-width: 62em) {
  .challenge {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
}
.challenge__images {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
@media only screen and (max-width: 62em) {
  .challenge__images {
    height: 100rem;
  }
}
@media only screen and (max-width: 35.9375em) {
  .challenge__images {
    height: 73rem;
  }
}
.challenge__images .line-1 {
  height: 95rem;
  width: 95rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: radial-gradient(rgba(81, 59, 138, 0.882), rgba(81, 59, 138, 0.6), rgba(81, 59, 138, 0.4), rgba(81, 59, 138, 0.1), rgba(81, 59, 138, 0), rgba(81, 59, 138, 0), rgba(81, 59, 138, 0));
}
@media only screen and (max-width: 35.9375em) {
  .challenge__images .line-1 {
    height: 75rem;
    width: 75rem;
  }
}
.challenge__images .line-1 div {
  height: 7.2rem;
  width: 7.2rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(30px);
  position: absolute;
}
@media only screen and (max-width: 35.9375em) {
  .challenge__images .line-1 div {
    height: 6.2rem;
    width: 6.2rem;
  }
}
@media only screen and (max-width: 23.75em) {
  .challenge__images .line-1 div {
    height: 5.5rem;
    width: 5.5rem;
  }
}
.challenge__images .line-1 .circle-1 {
  top: 13%;
  left: 9%;
}
.challenge__images .line-1 .circle-2 {
  top: -4%;
  left: 42%;
}
.challenge__images .line-1 .circle-3 {
  bottom: 7%;
  left: 15%;
}
.challenge__images .line-1 .circle-4 {
  bottom: 3%;
  left: 70%;
}
.challenge__images .line-2 {
  height: 65rem;
  width: 65rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 35.9375em) {
  .challenge__images .line-2 {
    height: 55rem;
    width: 55rem;
  }
}
.challenge__images .line-2 div {
  height: 7.2rem;
  width: 7.2rem;
  border-radius: 50%;
  backdrop-filter: blur(30px);
  position: absolute;
}
@media only screen and (max-width: 35.9375em) {
  .challenge__images .line-2 div {
    height: 6.2rem;
    width: 6.2rem;
  }
}
@media only screen and (max-width: 23.75em) {
  .challenge__images .line-2 div {
    height: 5.5rem;
    width: 5.5rem;
  }
}
.challenge__images .line-2 .circle-1 {
  top: 11%;
  left: 7%;
  background-image: url("../img/testimonial-img-1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.challenge__images .line-2 .circle-2 {
  top: 49%;
  left: -5%;
  background-image: url("../img/testimonial-img-2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.challenge__images .line-2 .circle-3 {
  bottom: 4%;
  left: 16%;
  background-image: url("../img/testimonial-img-3.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.challenge__images .line-2 .circle-4 {
  bottom: 25%;
  left: 90%;
  background-image: url("../img/testimonial-img-4.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.challenge__images .line-3 {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.challenge__images .line-3 div {
  height: 7.2rem;
  width: 7.2rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(30px);
  position: absolute;
}
@media only screen and (max-width: 35.9375em) {
  .challenge__images .line-3 div {
    height: 6.2rem;
    width: 6.2rem;
  }
}
@media only screen and (max-width: 23.75em) {
  .challenge__images .line-3 div {
    height: 5.5rem;
    width: 5.5rem;
  }
}
.challenge__images .line-3 .circle-1 {
  top: 30%;
  left: -8%;
}
.challenge__images .line-3 .circle-2 {
  top: 47%;
  left: 90%;
  background-image: url("../img/testimonial-img-5.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.challenge__img {
  height: 120%;
  width: 120%;
  position: absolute;
  bottom: -10rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@media only screen and (max-width: 62em) {
  .challenge__img {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.challenge__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top center;
}
@media only screen and (max-width: 64em) {
  .challenge__content {
    transform: translateX(-10rem);
  }
}
@media only screen and (max-width: 62em) {
  .challenge__content {
    transform: translateX(0);
    grid-row: 1/-1;
    text-align: center;
  }
}
.challenge .card {
  padding: 3.2rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(40px);
  position: relative;
  text-align: start;
}
.challenge .card__title {
  font-size: 3.2rem;
  color: #fff;
  font-weight: 700;
}
.challenge .card .text {
  font-weight: 400;
}
.challenge .card__number {
  font-size: 8.8rem;
  font-weight: 700;
  color: #c2a2fd;
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  opacity: 0.12;
}

.testimonial-section {
  padding: 8rem 0;
}
@media only screen and (max-width: 62em) {
  .testimonial-section {
    padding: 8rem 0 0 0;
  }
}

.about-page .testimonial-section {
  padding: 8rem 0 0 0;
}

.testimonial {
  display: grid;
  grid-template-columns: repeat(2, 40rem 1fr);
  gap: 9.6rem;
  align-items: center;
}
@media only screen and (max-width: 62em) {
  .testimonial {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}
.testimonial__card {
  display: inline-block;
  margin-right: 2.4rem;
  background-color: #7540f4;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  clip-path: polygon(25% 0%, 84% 0, 100% 19%, 100% 100%, 0 99%, 0 0);
  width: 12.5rem;
  height: 13rem;
}
.testimonial__card--icon {
  margin-bottom: 1;
}
.testimonial__card--icon .icon {
  height: 2.5rem;
  width: 2.5rem;
}
.testimonial__card--number {
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
  color: #fff;
  font-weight: 600;
}
.testimonial__card--text {
  color: #fff;
  font-size: 1.6rem;
  opacity: 0.5;
}
.testimonial__slider {
  width: 86rem;
  height: 100%;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 62em) {
  .testimonial__slider {
    height: 42rem;
    width: 100%;
  }
}
@media only screen and (max-width: 30em) {
  .testimonial__slider {
    height: 38rem;
  }
}
.testimonial__slider .slider {
  width: 100%;
  height: 23rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-30%);
}
@media only screen and (max-width: 62em) {
  .testimonial__slider .slider {
    top: 0;
    transform: translateY(0);
  }
}
.testimonial__slider .slide {
  width: 44rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  overflow: hidden;
}
@media only screen and (max-width: 62em) {
  .testimonial__slider .slide {
    width: 50%;
  }
}
@media only screen and (max-width: 35.9375em) {
  .testimonial__slider .slide {
    width: 100%;
  }
}
.testimonial__slider .card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(40px);
  padding: 2rem 3rem;
  margin-right: 2rem;
}
@media only screen and (max-width: 35.9375em) {
  .testimonial__slider .card {
    margin-right: 0;
  }
}
.testimonial__slider .card__stars {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.testimonial__slider .card .icon {
  height: 1.5rem;
  width: 1.5rem;
}
.testimonial__slider .card .text {
  font-size: 1.6rem;
  opacity: 0.4;
  text-align: start;
}
.testimonial__slider .card .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.testimonial__slider .card .user__name {
  font-size: 1.6rem;
  opacity: 1;
  color: #fff;
}
.testimonial__slider .slider-btns {
  position: absolute;
  top: -10rem;
  right: 25rem;
  width: 15rem;
  display: flex;
  align-items: center;
  gap: 0 5rem;
}
@media only screen and (max-width: 75em) {
  .testimonial__slider .slider-btns {
    right: 30rem;
  }
}
@media only screen and (max-width: 62em) {
  .testimonial__slider .slider-btns {
    top: 140%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 30em) {
  .testimonial__slider .slider-btns {
    top: 120%;
  }
}
.testimonial__slider .slider__btn {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial__slider .slider__btn .icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: #fff;
  opacity: 1;
  transition: all 0.3s;
}

.about-page .testimonial {
  grid-template-columns: repeat(1, 1fr);
}
.about-page .testimonial__slider {
  width: 100%;
  height: 37rem;
}
@media only screen and (max-width: 62em) {
  .about-page .testimonial__slider {
    height: 40rem;
  }
}
.about-page .testimonial__slider .slider {
  top: 0;
  left: 0;
  transform: translateY(0);
}
@media only screen and (max-width: 62em) {
  .about-page .testimonial__slider .slide {
    width: 50%;
  }
  .about-page .testimonial__slider .slide .card {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 35.9375em) {
  .about-page .testimonial__slider .slide {
    width: 100%;
    text-align: center;
  }
  .about-page .testimonial__slider .slide .card {
    margin-right: 0;
  }
}
.about-page .testimonial__slider .slider-btns {
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 62em) {
  .about-page .testimonial__slider .slider-btns {
    top: 140%;
  }
}
@media only screen and (max-width: 35.9375em) {
  .about-page .testimonial__slider .slider-btns {
    top: 120%;
  }
}

.team-section {
  padding: 2rem 0 8rem 0;
  position: relative;
}
@media only screen and (max-width: 62em) {
  .team-section {
    background-image: linear-gradient(rgba(81, 59, 138, 0), rgba(81, 59, 138, 0), rgba(81, 59, 138, 0), rgba(81, 59, 138, 0), rgba(81, 59, 138, 0.1), rgba(81, 59, 138, 0.2), rgba(81, 59, 138, 0.4), rgba(81, 59, 138, 0));
  }
}
.team-section::before, .team-section::after {
  content: "";
  display: block;
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
}
@media only screen and (max-width: 62em) {
  .team-section::before, .team-section::after {
    display: none;
  }
}
.team-section::before {
  background-image: linear-gradient(to right bottom, rgba(81, 59, 138, 0.8), rgba(81, 59, 138, 0.6), rgba(81, 59, 138, 0.4), rgba(81, 59, 138, 0.25), rgba(81, 59, 138, 0.1), rgba(81, 59, 138, 0), rgba(81, 59, 138, 0), rgba(81, 59, 138, 0), rgba(81, 59, 138, 0));
  left: 0;
}
.team-section::after {
  background-image: linear-gradient(to left bottom, rgba(81, 59, 138, 0.6), rgba(81, 59, 138, 0.6), rgba(81, 59, 138, 0.4), rgba(81, 59, 138, 0.25), rgba(81, 59, 138, 0.1), rgba(81, 59, 138, 0), rgba(81, 59, 138, 0), rgba(81, 59, 138, 0), rgba(81, 59, 138, 0));
  right: 0;
}
.team-section h2 {
  margin-bottom: 12rem;
}

.team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10rem 5rem;
}
@media only screen and (max-width: 62em) {
  .team {
    grid-template-columns: repeat(1, 1fr);
  }
}
.team__container {
  padding: 3rem 2rem;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(40px);
  gap: 3.2rem;
  min-height: 16rem;
}
@media only screen and (max-width: 62em) {
  .team__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
  }
}
@media only screen and (max-width: 62em) {
  .team__desc {
    text-align: center;
  }
}
.team__img {
  width: 18.8rem;
  height: 19.8rem;
  margin-top: -10rem;
}
.team__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.team__name {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 32px;
}
.team__user {
  color: #fff;
  font-size: 1.6rem;
}
.build {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: -25rem;
}
@media only screen and (max-width: 62em) {
  .build {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 3rem;
  }
}
.build__content {
  padding: 5.6rem 3.8rem;
  background-color: #7540f4;
}
@media only screen and (max-width: 23.75em) {
  .build__content h2 {
    font-size: 23px;
  }
}
.build .btn {
  background-color: #fff;
  color: #7540f4;
}
.build__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 62em) {
  .build__img {
    grid-row: 1/2;
  }
}
.build__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-fit: cover;
}

.footer {
  background-image: url("../img/bg-3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 25rem;
}
@media only screen and (max-width: 23.75em) {
  .footer {
    background-image: none;
  }
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5rem 3rem;
  padding: 4.8rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 62em) {
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 35.9375em) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer__col-1 {
  grid-column: 1/3;
}
.footer__logo {
  width: 13.7rem;
  height: 2.9rem;
}
.footer__logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.footer .social__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.footer .social__link .icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: #fff;
}
.footer__title {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.footer__link {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  color: #fff;
  opacity: 0.6;
  transition: all 0.3s;
  margin-bottom: 0.8rem;
  display: inline-block;
}
.footer__link:hover {
  opacity: 1;
}
.footer__copyright {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 2rem 0;
  gap: 3rem 1.5rem;
}
@media only screen and (max-width: 62em) {
  .footer__copyright {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
.footer__copyright .text {
  font-size: 1.6rem;
  justify-self: start;
}
@media only screen and (max-width: 62em) {
  .footer__copyright .text {
    justify-self: center;
    text-align: center;
  }
}
.footer__copyright .list {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-self: end;
}
@media only screen and (max-width: 62em) {
  .footer__copyright .list {
    justify-self: center;
    grid-row: 1/2;
    text-align: center;
  }
}
.footer__copyright .link {
  color: #fff;
  opacity: 0.6;
  transition: all 0.3s;
  font-size: 1.6rem;
}
.footer__copyright .link:hover {
  opacity: 1;
}
.footer__copyright .circle {
  height: 0.2rem;
  width: 0.2rem;
  background-color: #fff;
  border-radius: 50%;
}

.advise {
  padding: 8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 62em) {
  .advise {
    flex-direction: column;
    gap: 3.2rem;
    justify-content: center;
    text-align: center;
  }
}
.advise h3 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: 0.02em;
  font-family: "Work Sans", sans-serif;
  width: 60rem;
  color: #fff;
}
@media only screen and (max-width: 62em) {
  .advise h3 {
    width: 100%;
  }
}
@media only screen and (max-width: 23.75em) {
  .advise h3 {
    font-size: 20px;
  }
}
.learn-section {
  padding: 8rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
@media only screen and (max-width: 62em) {
  .learn-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }
  .learn-section h2 {
    font-size: 31px;
  }
}

.learn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.6rem 9.6rem;
}
@media only screen and (max-width: 62em) {
  .learn {
    grid-template-columns: repeat(1, 1fr);
  }
}
.learn__left, .learn__right {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}
@media only screen and (max-width: 62em) {
  .learn__left, .learn__right {
    align-items: center;
  }
}
.learn__item {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.learn__icon {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #7540f4;
  border-radius: 50%;
}
.learn__icon .icon {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(0.5);
  fill: #fff;
}
.learn .text {
  font-size: 2rem;
  color: #fff;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
