.logo {
  font-size: 6.2rem;
  font-weight: 900;
  font-family: $font-primary;
  color: $color-white;
  font-style: italic;
  text-transform: uppercase;

  @media only screen and (max-width: $tab-land) {
    font-size: 5.5rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 4rem 10rem;
  align-items: center;

  @media only screen and (max-width: $mbl-land) {
    padding: 4rem 4rem;
  }

  &__logo {
    width: 13.7rem;
    height: 2.9rem;

    @media only screen and (max-width: $mbl-land) {
      width: 10rem;
      height: 2.3rem;
    }

    img {
      @include img-size;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 4rem;

    @media only screen and (max-width: $tab-port) {
      display: none;
    }
  }

  &__link {
    font-weight: 700;
    color: $color-white;
    text-transform: uppercase;
    opacity: 0.6;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 0 4rem;

    @media only screen and (max-width: $tab-port) {
      display: none;
    }
  }

  &__login,
  &__signup {
    color: $color-white;
    font-weight: 400;
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0.6;
    transition: all 0.3s;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__login {
  }

  &__signup {
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.8rem 2rem;
  }
}

.bars {
  height: 2.5rem;
  width: 2.5rem;
  display: none;
  cursor: pointer;

  @media only screen and (max-width: $tab-port) {
    display: block;
  }

  .icon {
    @include img-size;
    opacity: 0.6;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}

.mbl-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../img/bg-1.jpg");
  height: 100vh;
  width: 100%;
  z-index: 2;
  transform: translateX(100%);
  transition: all 0.5s;

  @media only screen and (max-width: $tab-port) {
    display: block;
  }

  .nav {
    flex-direction: column;
    gap: 6.5rem 0;
    justify-content: start;
    align-items: start;

    // .logo {
    //   font-size: 10rem;
    //   font-weight: 900;
    //   font-family: $font-primary;
    // }
  }

  &__logo {
    width: 13.7rem;
    height: 2.9rem;

    @media only screen and (max-width: $mbl-land) {
      width: 10rem;
      height: 2.3rem;
    }

    img {
      @include img-size;
    }
  }

  .nav__list,
  .nav__buttons {
    display: flex;
    flex-direction: column;
    gap: 3rem 0;
    align-items: start;
  }

  .nav__list {
    margin-top: 6.4rem;
  }

  .nav__buttons {
    margin-top: 8rem;
  }

  .nav__link {
    font-size: 2rem;
    transition: all 0.3s;
    display: inline-block;
    padding: 0.5rem;

    &:hover {
      transform: scale(1.2) translateX(1.5rem);
    }
  }

  .nav__login {
    padding: 0.5rem;
  }
  .nav__login,
  .nav__signup {
    display: inline-block;

    &:hover {
      transform: scale(1.2) translateX(1.5rem);
    }
  }

  .btn-close {
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    top: 4rem;
    right: 5rem;
    background-color: transparent;

    .icon {
      @include img-size;
      fill: $color-white;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.show-nav {
  .mbl-nav {
    transform: translateX(0);
  }
}
