.challenge-section {
  padding: 10rem 0;
  position: relative;
}

.challenge {
  display: grid;
  grid-template-columns: 72rem 1fr;
  gap: 5rem;

  @media only screen and (max-width: $tab-land) {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  &__images {
    @include bg-img;
    position: relative;

    @media only screen and (max-width: $tab-land) {
      height: 100rem;
    }
    @media only screen and (max-width: $mbl-land) {
      height: 73rem;
    }

    .line-1 {
      height: 95rem;
      width: 95rem;
      border-radius: 50%;
      border: 1px solid hsla(0, 0%, 100%, 0.15);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: radial-gradient(
        rgba(81, 59, 138, 0.882),
        rgba(81, 59, 138, 0.6),
        rgba(81, 59, 138, 0.4),
        rgba(81, 59, 138, 0.1),
        rgba(81, 59, 138, 0),
        rgba(81, 59, 138, 0),
        rgba(81, 59, 138, 0)
      );

      @media only screen and (max-width: $mbl-land) {
        height: 75rem;
        width: 75rem;
      }

      div {
        height: 7.2rem;
        width: 7.2rem;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(30px);
        position: absolute;

        @media only screen and (max-width: $mbl-land) {
          height: 6.2rem;
          width: 6.2rem;
        }
        @media only screen and (max-width: $mbl-small) {
          height: 5.5rem;
          width: 5.5rem;
        }
      }

      .circle-1 {
        top: 13%;
        left: 9%;
      }
      .circle-2 {
        top: -4%;
        left: 42%;
      }
      .circle-3 {
        bottom: 7%;
        left: 15%;
      }
      .circle-4 {
        bottom: 3%;
        left: 70%;
      }
    }
    .line-2 {
      height: 65rem;
      width: 65rem;
      border-radius: 50%;
      border: 1px solid hsla(0, 0%, 100%, 0.3);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media only screen and (max-width: $mbl-land) {
        height: 55rem;
        width: 55rem;
      }

      div {
        height: 7.2rem;
        width: 7.2rem;
        border-radius: 50%;
        backdrop-filter: blur(30px);
        position: absolute;

        @media only screen and (max-width: $mbl-land) {
          height: 6.2rem;
          width: 6.2rem;
        }
        @media only screen and (max-width: $mbl-small) {
          height: 5.5rem;
          width: 5.5rem;
        }
      }

      .circle-1 {
        top: 11%;
        left: 7%;
        background-image: url("../img/testimonial-img-1.png");
        @include bg-img;
      }
      .circle-2 {
        top: 49%;
        left: -5%;
        background-image: url("../img/testimonial-img-2.png");
        @include bg-img;
      }
      .circle-3 {
        bottom: 4%;
        left: 16%;
        background-image: url("../img/testimonial-img-3.png");
        @include bg-img;
      }
      .circle-4 {
        bottom: 25%;
        left: 90%;
        background-image: url("../img/testimonial-img-4.png");
        @include bg-img;
      }
    }
    .line-3 {
      height: 30rem;
      width: 30rem;
      border-radius: 50%;
      border: 1px solid hsla(0, 0%, 100%, 0.6);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      div {
        height: 7.2rem;
        width: 7.2rem;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(30px);
        position: absolute;

        @media only screen and (max-width: $mbl-land) {
          height: 6.2rem;
          width: 6.2rem;
        }
        @media only screen and (max-width: $mbl-small) {
          height: 5.5rem;
          width: 5.5rem;
        }
      }

      .circle-1 {
        top: 30%;
        left: -8%;
      }
      .circle-2 {
        top: 47%;
        left: 90%;
        background-image: url("../img/testimonial-img-5.png");
        @include bg-img;
      }
    }
  }

  &__img {
    height: 120%;
    width: 120%;
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    @media only screen and (max-width: $tab-land) {
      // height: 100%;
      // width: 100%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    @media only screen and (max-width: $mbl-land) {
      // height: 90%;
      // width: 90%;
    }
    @media only screen and (max-width: $mbl-small) {
      // height: 80%;
      // width: 80%;
    }

    img {
      @include img-size;
      object-position: top center;
    }
  }

  &__content {
    @media only screen and (max-width: $laptop-port) {
      transform: translateX(-10rem);
    }
    @media only screen and (max-width: $tab-land) {
      transform: translateX(0);
      grid-row: 1/-1;
      text-align: center;
    }
  }

  .card {
    padding: 3.2rem;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
    position: relative;
    text-align: start;

    &__title {
      font-size: 3.2rem;
      color: $color-white;
      font-weight: 700;
    }

    .text {
      font-weight: 400;
    }

    &__number {
      font-size: 8.8rem;
      font-weight: 700;
      color: #c2a2fd;
      position: absolute;
      bottom: 2.5rem;
      right: 2.5rem;
      opacity: 0.12;
    }
  }
}
