.header {
  height: auto;
  width: 100%;
  margin-top: 6.7rem;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 5rem;

    @media only screen and (max-width: $tab-land) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  h1 {
    span {
      color: $color-secondary;
    }
  }

  &__image {
    position: relative;
  }

  &__img {
    transform: translateY(-12rem);
    height: 63.5rem;
    width: 55rem;

    @media only screen and (max-width: $tab-land) {
      transform: translateY(0);
      margin: 0 auto;
    }
    @media only screen and (max-width: $mbl-port) {
      height: 55.5rem;
      width: 45rem;
    }
    @media only screen and (max-width: $mbl-small) {
      width: 46.5rem;
      height: 42.8rem;
    }

    img {
      @include img-size;
    }
  }
}

.price {
  padding: 1.2rem;
  background-color: $color-primary;
  display: inline-block;
  position: absolute;
  bottom: 16rem;
  left: 0;
  clip-path: polygon(82% 0, 100% 22%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);

  @media only screen and (max-width: $mbl-port) {
    bottom: 2rem;
    left: 5rem;
  }

  &__sign {
    margin-bottom: 1.4rem;
    .icon {
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  &__title {
    margin-bottom: 1.4rem;
    color: $color-white;
    font-size: 1.2rem;
  }

  &__price {
    margin-bottom: 2.5rem;
    color: $color-white;
    font-size: 3.2rem;

    span {
      font-size: 1.8rem;
    }
  }

  &__btn {
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem 2rem;
  }
}

.join {
  background-color: $color-white;
  padding: 1.2rem;
  display: inline-block;
  position: absolute;
  bottom: 20rem;
  right: 0;

  @media only screen and (max-width: $mbl-port) {
    bottom: 6rem;
  }

  &__title {
    font-size: 1.2rem;
    color: $color-black;
    font-weight: 700;
    margin-bottom: 0.5rem;

    span {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  &__images {
    display: flex;
    align-items: center;
  }

  &__circle {
    margin-right: -1rem;
  }
  .btn-circle {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    background-color: $color-primary;

    .icon {
      @include img-size;
      transform: scale(0.5);
      fill: $color-white;
    }
  }

  &__img {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;

    img {
      @include img-size;
    }
  }
}

.about {
  h1 {
    @media only screen and (max-width: $mbl-small) {
      font-size: 36px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;

    @media only screen and (max-width: $tab-land) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: $mbl-land) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    background-color: $color-primary;
    padding: 2rem;
    position: relative;
    width: 100%;
    height: 345px;

    @media only screen and (max-width: $tab-land) {
      height: 50.5rem;
    }
    @media only screen and (max-width: $mbl-land) {
      height: 56.5rem;
    }
    @media only screen and (max-width: $mbl-small) {
      height: 60.5rem;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    img {
      @include img-size;
      object-fit: cover;
      object-position: top center;
    }
  }

  .age {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    background: #fff;
    padding: 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;

    @media only screen and (max-width: $tab-land) {
      padding: 1.5rem;
    }

    &__start {
      margin-left: 1rem;
    }

    &__cur {
    }
  }
}
