.testimonial-section {
  padding: 8rem 0;

  @media only screen and (max-width: $tab-land) {
    padding: 8rem 0 0 0;
  }
}

.about-page {
  .testimonial-section {
    padding: 8rem 0 0 0;
  }
}

.testimonial {
  display: grid;
  grid-template-columns: repeat(2, 40rem 1fr);
  gap: 9.6rem;
  align-items: center;

  @media only screen and (max-width: $tab-land) {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  &__card {
    display: inline-block;
    margin-right: 2.4rem;
    background-color: $color-primary;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    clip-path: polygon(25% 0%, 84% 0, 100% 19%, 100% 100%, 0 99%, 0 0);
    width: 12.5rem;
    height: 13rem;

    &--icon {
      margin-bottom: 1;

      .icon {
        height: 2.5rem;
        width: 2.5rem;
      }
    }

    &--number {
      margin-bottom: 1.5rem;
      font-size: 2.8rem;
      color: $color-white;
      font-weight: 600;
    }
    &--text {
      color: $color-white;
      font-size: 1.6rem;
      opacity: 0.5;
    }
  }

  &__slider {
    width: 86rem;
    height: 100%;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: $tab-land) {
      height: 42rem;
      width: 100%;
    }

    @media only screen and (max-width: $mbl-port) {
      height: 38rem;
    }

    .slider {
      width: 100%;
      height: 23rem;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-30%);

      @media only screen and (max-width: $tab-land) {
        top: 0;
        transform: translateY(0);
      }
    }

    .slide {
      width: 44rem;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.5s;
      overflow: hidden;

      @media only screen and (max-width: $tab-land) {
        width: 50%;
      }
      @media only screen and (max-width: $mbl-land) {
        width: 100%;
      }
    }

    .card {
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(40px);
      padding: 2rem 3rem;
      margin-right: 2rem;

      @media only screen and (max-width: $mbl-land) {
        margin-right: 0;
      }

      &__stars {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 2rem;
      }

      .icon {
        height: 1.5rem;
        width: 1.5rem;
      }

      .text {
        font-size: 1.6rem;
        opacity: 0.4;
        text-align: start;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        &__name {
          font-size: 1.6rem;
          opacity: 1;
          color: $color-white;
        }
      }
    }

    .slider-btns {
      position: absolute;
      top: -10rem;
      right: 25rem;
      width: 15rem;
      display: flex;
      align-items: center;
      gap: 0 5rem;

      @media only screen and (max-width: $laptop-land) {
        right: 30rem;
      }
      @media only screen and (max-width: $tab-land) {
        top: 140%;
        left: 50%;
        transform: translateX(-50%);
      }
      @media only screen and (max-width: $mbl-port) {
        top: 120%;
      }
    }

    .slider__btn {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.25);
      height: 5rem;
      width: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-white;
        opacity: 1;
        transition: all 0.3s;
      }
    }
  }
}

.about-page {
  .testimonial {
    grid-template-columns: repeat(1, 1fr);

    @media only screen and (max-width: $tab-land) {
    }

    &__slider {
      width: 100%;
      height: 37rem;

      @media only screen and (max-width: $tab-land) {
        height: 40rem;
      }

      .slider {
        top: 0;
        left: 0;
        transform: translateY(0);
      }

      .slide {
        @media only screen and (max-width: $tab-land) {
          width: 50%;

          .card {
            margin-right: 2rem;
          }
        }
        @media only screen and (max-width: $mbl-land) {
          width: 100%;
          text-align: center;

          .card {
            margin-right: 0;
          }
        }
      }

      .slider-btns {
        top: 120%;
        left: 50%;
        transform: translateX(-50%);

        @media only screen and (max-width: $tab-land) {
          top: 140%;
        }

        @media only screen and (max-width: $mbl-land) {
          top: 120%;
        }
      }

      // .slider__btn {
      //   top: 120%;

      //   @media only screen and (max-width: $tab-land) {
      //     top: 134%;
      //   }
      // }
      // .slider__btn--left {
      //   right: 55%;

      //   @media only screen and (max-width: $mbl-land) {
      //     right: 60%;
      //   }
      //   @media only screen and (max-width: $mbl-port) {
      //     right: 35%;
      //   }
      // }
      // .slider__btn--right {
      //   right: 45%;

      //   @media only screen and (max-width: $mbl-land) {
      //     right: 40%;
      //   }
      //   @media only screen and (max-width: $mbl-port) {
      //     right: 55%;
      //   }
      // }
    }
  }
}
